.card{
	display: flex;
	flex-flow: column;
}

.card__header{
	padding: 1rem;
}

.card__main{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	gap: 1em;
}

.card__footer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	gap: 1em;
}