.main_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	padding: 3rem 0;
	gap: 1rem;
}

.section{
	display: inherit;
	padding: 0 1rem;
	justify-content: inherit;
	align-items: inherit;
	font-size: 0.85rem;
	max-width: var(--max-width);
	width: 100%;
}

.header{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.main{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.main__card{
	max-width: var(--max-width);
}

.footer__container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: unset;
	padding: 1rem 0 0 0;
	color: rgb(var(--foreground-shaded-rgb));
	background-color: rgb(var(--background-shaded-rgb));
	box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;;
}

.footer{
	max-width: var(--max-width);
	width: 100%;
}